@use "../shared/settings";
@use "sass:map";

.login {
  .login-header {
    font-size: 1.8rem;
    margin: 0;
  }

  .login-signup-link {
    color: map.get(settings.$colors, "gray");
    margin-top: 2rem;
  }
}
