@use "../shared/settings";
@use "sass:map";
@use "sass:math";

.recipe-new {
  background-color: map.get(settings.$colors, "gray-l95");
}

.recipe-new__content {
  max-width: 35rem;
}

.recipe-new__instructions {
  color: map.get(settings.$colors, "gray");
}
