.recipe-time-form__form {
  margin-top: 1.5rem;
}

.recipe-time-form__alert {
  margin-top: 1rem;
}

.recipe-time-form__field {
  margin-top: 1rem;
}

.recipe-time-form__content {
  max-width: 35rem;
}

.recipe-time-form__input-wrapper {
  margin-top: 0.5rem;
}

.recipe-time-form__input {
  width: 100%;
}

.recipe-time-form__units {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.recipe-time-form__unit-input {
  min-width: 8ex;
  width: 100%;
}

.recipe-time-form__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2rem;
  justify-content: space-between;
}

.recipe-time-form__actions-left {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.recipe-time-form__actions-right {
  display: flex;
  flex-grow: 1;

  @media (min-width: 372px) {
    justify-content: end;
  }
}

.recipe-time-form__action {
  @media (max-width: 371px) {
    width: 6.5rem;
  }
}
