@use "../shared/settings";
@use "sass:map";

.recipe-ingredient-edit-form__content {
  max-width: 35rem;
}

.recipe-ingredient-edit-form__form {
  margin-top: 1.5rem;
}

.recipe-ingredient-edit-form__alert + .recipe-ingredient-edit-form__field {
  margin-top: 1rem;
}

.recipe-ingredient-edit-form__field {
  margin-top: 1rem;
}

.recipe-ingredient-edit-form__input-wrapper {
  margin-top: 0.5rem;
}

.recipe-ingredient-edit-form__input {
  width: 100%;
}

.recipe-ingredient-edit-form__field-error {
  margin-top: settings.$margin-top-field-error;
}

.recipe-ingredient-edit-form__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.recipe-ingredient-edit-form__bottom-navigation {
  border-top: 1px solid map.get(settings.$colors, "gray-divider");
  margin-top: 2rem;
  padding-top: 1rem;
}
