@use "../shared/settings";
@use "sass:map";

.recipe-title-form {
  background-color: map.get(settings.$colors, "gray-l95");
}

.recipe-title-form__viewport {
  height: calc(100vh - settings.$height-navbar);
}

.recipe-title-form__content {
  display: flex;
  justify-content: center;
}

.recipe-title-form__content-card {
  background-color: map.get(settings.$colors, "white");
  border-radius: settings.$border-radius-lg;
  border: 1px solid map.get(settings.$colors, "gray-l80");
  box-shadow: settings.$box-shadow;
  height: fit-content;
  margin-top: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  width: 100%;
}

.recipe-title-form__form {
  margin-top: 1.5rem;
}

.recipe-title-form__alert + .recipe-title-form__field {
  margin-top: 1rem;
}

.recipe-title-form__input-wrapper {
  margin-top: 0.5rem;
}

.recipe-title-form__input {
  width: 100%;
}

.recipe-title-form__field-error {
  margin-top: settings.$margin-top-field-error;
}

.recipe-title-form__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  margin-top: 1.5rem;
  max-width: 17.5rem;

  button {
    flex-grow: 1;
  }
}
