@use "../shared/settings";
@use "sass:map";

.recipe-title-form {
  background-color: map.get(settings.$colors, "gray-l95");
}

.recipe-title-form__form {
  margin-top: 1.5rem;
}

.recipe-title-form__alert + .recipe-title-form__field {
  margin-top: 1rem;
}

.recipe-title-form__input-wrapper {
  margin-top: 0.5rem;
}

.recipe-title-form__input {
  width: 100%;
}

.recipe-title-form__field-error {
  margin-top: settings.$margin-top-field-error;
}

.recipe-title-form__actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
