@use "../shared/settings";
@use "sass:map";
@use "sass:math";

.recipe-new {
  background-color: map.get(settings.$colors, "gray-l95");
}

.recipe-new__viewport {
  height: calc(100vh - settings.$height-navbar);
}

.recipe-new__content {
  display: flex;
  justify-content: center;
}

.recipe-new__card {
  background-color: map.get(settings.$colors, "white");
  border-radius: settings.$border-radius-lg;
  border: 1px solid map.get(settings.$colors, "gray-l80");
  box-shadow: settings.$box-shadow;
  height: fit-content;
  margin-top: 1rem;
  max-width: 35rem;
  padding: 1rem 1rem 2rem 1rem;
  width: 100%;
}

.recipe-new__instructions {
  color: map.get(settings.$colors, "gray");
}
