@use "../shared/settings";
@use "sass:map";

.recipe-tag-edit-form__content {
  max-width: 35rem;
}

.recipe-tag-edit-form__form {
  margin-top: 1.5rem;
}

.recipe-tag-edit-form__alert {
  margin-top: 1rem;
}

.recipe-tag-edit-form__alert + .recipe-tag-edit-form__field {
  margin-top: 1rem;
}

.recipe-tag-edit-form__input-wrapper {
  margin-top: 0.5rem;
}

.recipe-tag-edit-form__input {
  width: 100%;
}

.recipe-tag-edit-form__matches {
  width: 100%;
}

.recipe-tag-edit-form__field-error {
  margin-top: settings.$margin-top-field-error;
}

.recipe-tag-edit-form__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.recipe-tag-edit-form__menu-button {
  position: relative;
}

.recipe-tag-edit-form__button-menu-wrapper {
  background-color: map.get(settings.$colors, "white");
  border-radius: settings.$border-radius;
  border: 1px solid map.get(settings.$colors, "gray-border");
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 2.6rem;
  white-space: nowrap;
  z-index: 9999;
}

.recipe-tag-edit-form__button-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recipe-tag-edit-form__button-menu-save-item,
.recipe-tag-edit-form__button-menu-delete-item {
  padding: 0.5rem;
}

.recipe-tag-edit-form__button-menu-save-item:hover {
  background-color: map.get(settings.$colors, "blue-bg");
}

.recipe-tag-edit-form__button-menu-delete-item:hover {
  background-color: map.get(settings.$colors, "red-bg");
}

.recipe-tag-edit-form__bottom-navigation {
  border-top: 1px solid map.get(settings.$colors, "gray-divider");
  margin-top: 2rem;
  padding-top: 1rem;
}
