@use "../shared/settings";

.login-form {
  margin-top: 1.5rem;

  .login-form-field + .login-form-field {
    margin-top: 1.25rem;
  }

  .login-form-input-wrapper {
    margin-top: 0.5rem;

    input {
      width: 100%;
    }
  }

  .login-form-actions {
    margin-top: 2.5rem;

    button {
      width: 100%;
    }
  }

  .login-form-alert + .login-form-field {
    margin-top: 1.25rem;
  }
}

.login-form__field-error {
  margin-top: settings.$margin-top-field-error;
}
