@use "../shared/settings";

.recipe-form {
  margin-top: 1.5rem;
}

.recipe-form__alert + .recipe-form__field {
  margin-top: 1rem;
}

.recipe-form__input-wrapper {
  margin-top: 0.5rem;

  input {
    width: 100%;
  }
}

.recipe-form__actions {
  margin-top: 1.5rem;
}

.recipe-form__field-error {
  margin-top: settings.$margin-top-field-error;
}
