@use "../shared/settings";

.recipe-create-form {
  margin-top: 2rem;

  .recipe-create-form-alert + .recipe-create-form-field {
    margin-top: 1rem;
  }

  .recipe-create-form-input-wrapper {
    margin-top: 0.5rem;

    input {
      width: 100%;
    }
  }

  .recipe-create-form-actions {
    margin-top: 2rem;

    button {
      width: 100%;
    }
  }
}

.recipe-create-form__field-error {
  margin-top: settings.$margin-top-field-error;
}
