@use "../shared/colors";
@use "../shared/decorations";
@use "sass:map";

.alert {
  border-radius: decorations.$border-radius;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 0.75rem;

  .alert-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  &.alert-error {
    background-color: map.get(colors.$colors, "red-l90");
    color: map.get(colors.$colors, "red-d30");

    a {
      color: map.get(colors.$colors, "red-d30");
      font-weight: bold;
      text-decoration: underline;

      &:hover,
      &:hover:visited {
        color: map.get(colors.$colors, "red-d15");
        text-decoration: underline dotted;
      }

      &:visited {
        color: map.get(colors.$colors, "red-d30");
      }
    }
  }

  &.alert-error .alert-button {
    background-color: map.get(colors.$colors, "red-l90");
    color: map.get(colors.$colors, "red-d30");

    &:hover {
      color: map.get(colors.$colors, "red-l25");
    }
  }

  &.alert-info {
    background-color: map.get(colors.$colors, "gray-l85");
    color: map.get(colors.$colors, "gray-d20");

    a {
      color: map.get(colors.$colors, "gray-d20");
      font-weight: bold;
      text-decoration: underline;

      &:hover,
      &:hover:visited {
        color: map.get(colors.$colors, "gray-d5");
        text-decoration: underline dotted;
      }

      &:visited {
        color: map.get(colors.$colors, "gray-d20");
      }
    }
  }

  &.alert-info .alert-button {
    background-color: map.get(colors.$colors, "gray-l85");
    color: map.get(colors.$colors, "gray-d20");

    &:hover {
      color: map.get(colors.$colors, "gray-d15");
    }
  }

  &.alert-success {
    background-color: map.get(colors.$colors, "green-l80");
    color: map.get(colors.$colors, "green-d45");

    a {
      color: map.get(colors.$colors, "green-d45");
      font-weight: bold;
      text-decoration: underline;

      &:hover,
      &:hover:visited {
        color: map.get(colors.$colors, "green-d30");
        text-decoration: underline dotted;
      }

      &:visited {
        color: map.get(colors.$colors, "green-d45");
      }
    }
  }

  &.alert-success .alert-button {
    background-color: map.get(colors.$colors, "green-l80");
    color: map.get(colors.$colors, "green-d45");

    &:hover {
      color: map.get(colors.$colors, "green-d35");
    }
  }
}
