@use "../shared/settings";
@use "sass:map";

.full-page-card {
  .full-page-card-viewport {
    background-color: map.get(settings.$colors, "gray-l95");
  }

  .full-page-card-content-wrapper {
    display: grid;
    height: 100vh;
    justify-content: center;
    text-align: center;
  }

  .full-page-card-content {
    padding-top: 5vh;
  }

  .full-page-card-home-link {
    border-radius: settings.$border-radius-lg;
    color: map.get(settings.$colors, "blue-d65");
    font-size: 2rem;
    padding: 0.3rem 0.8rem;

    &:hover {
      background-color: map.get(settings.$colors, "white");
      color: map.get(settings.$colors, "blue-d65");
      text-decoration: none;
    }

    &:visited {
      color: map.get(settings.$colors, "blue-d65");
    }
  }

  .full-page-card-child-content {
    background-color: map.get(settings.$colors, "white");
    border-radius: settings.$border-radius-lg;
    border: 1px solid map.get(settings.$colors, "gray-l80");
    box-shadow: settings.$box-shadow;
    margin-top: 2rem;
    padding: 2rem 1rem 2.5rem 1rem;
    text-align: left;
    width: clamp(1rem, 90vw, 30rem);
  }
}
