@use "../shared/colors";
@use "../shared/decorations";
@use "sass:map";

.navbar {
  .navbar-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .navbar-logo {
    a {
      border-radius: decorations.$border-radius;
      color: map.get(colors.$colors, "blue-d65");
      font-size: 1.8rem;
      font-weight: bold;

      &:hover,
      &:hover:visited {
        color: map.get(colors.$colors, "blue-d45");
        text-decoration: none;
      }

      &:visited {
        color: map.get(colors.$colors, "blue-d65");
      }
    }
  }

  .navbar-primary-navigation {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
