@use "../shared/settings";
@use "sass:map";

.navbar {
  height: settings.$navbar-height;

  .navbar-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .navbar-logo-wrapper {
    a {
      border-radius: settings.$border-radius;
      color: map.get(settings.$colors, "blue-d65");
      font-size: 1.8rem;
      font-weight: bold;

      &:hover,
      &:hover:visited {
        color: map.get(settings.$colors, "blue-d45");
        text-decoration: none;
      }

      &:visited {
        color: map.get(settings.$colors, "blue-d65");
      }
    }
  }

  .navbar-menu-button {
    color: map.get(settings.$colors, "blue-d65");

    &:active {
      box-shadow: none;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .navbar-menu-wrapper {
    position: relative;
    z-index: 1000;
  }

  .navbar-menu-list-wrapper {
    background-color: map.get(settings.$colors, "white");
    border-radius: settings.$border-radius;
    border: 1px solid map.get(settings.$colors, "gray-l75");
    color: map.get(settings.$colors, "blue-d65");
    position: absolute;
    right: 0;
    top: 1.75rem;
    white-space: nowrap;
  }

  .navbar-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      &:hover {
        background-color: map.get(settings.$colors, "gray-l95");
      }
    }

    a,
    button {
      color: map.get(settings.$colors, "blue-d65");
      display: inline-block;
      padding: 0.5rem 1rem;
      text-align: left;
      vertical-align: middle;
      width: 100%;

      &:hover {
        text-decoration: none;
      }
    }

    button {
      &:active {
        box-shadow: none;
      }
    }
  }

  .navbar-menu-group-first {
    border-top: 1px solid map.get(settings.$colors, "gray-l75");
  }
}
