@use "../shared/colors";
@use "../shared/decorations";
@use "sass:map";

.navbar {
  .navbar-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .navbar-logo {
    a {
      border-radius: decorations.$border-radius;
      color: map.get(colors.$colors, "blue-d65");
      font-size: 1.8rem;
      font-weight: bold;
      padding: 0.4rem 0.8rem;

      &:hover {
        background-color: map.get(colors.$colors, "blue-l95");
        color: map.get(colors.$colors, "blue-d65");
        text-decoration: none;
      }

      &:visited {
        color: map.get(colors.$colors, "blue-d65");
      }
    }
  }

  .navbar-menu {
    align-self: center;

    a {
      border-radius: decorations.$border-radius;
      font-size: 1.05rem;
      padding: 0.4rem 0.8rem;

      &:hover {
        background-color: map.get(colors.$colors, "blue-l95");
        color: map.get(colors.$colors, "blue-d25");
        text-decoration: none;
      }

      &:visited {
        color: map.get(colors.$colors, "blue-d25");
      }
    }
  }
}
