@use "../shared/colors";
@use "../shared/decorations";
@use "../shared/typography";
@use "sass:map";

.recipe-title-form {
  .recipe-title-form-alert + .recipe-title-form-inline-form {
    margin-top: 1rem;
  }

  .recipe-title-form-inline-form {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
  }

  .recipe-title-form-form-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
  }

  .recipe-title-form-form-button {
    border-radius: 0;

    &:last-of-type {
      border-radius: decorations.$border-radius;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .field-error-text {
    margin-top: 0.5rem;
  }

  .recipe-title-form-title {
    font-size: clamp(
      typography.$font-size-h3,
      2.5vw + 0.75rem,
      typography.$font-size-h2
    );
    margin: 0;
  }

  .recipe-title-form-static {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .recipe-title-form-edit-button {
    color: map.get(colors.$colors, "blue-d65");

    &:hover {
      transform: scale(120%);
    }
  }
}
