@use "../shared/settings";
@use "../shared/widgets";
@use "sass:map";
@use "sass:math";

.recipe-create {
  $recipe-create-height: calc(100vh - widgets.$navbar-height);

  background-color: map.get(settings.$colors, "gray-l95");

  .recipe-create-viewport {
    height: $recipe-create-height;
  }

  .recipe-create-content {
    display: grid;
    justify-content: center;
    padding-top: calc($recipe-create-height / 8);
  }

  .recipe-create-card {
    background-color: map.get(settings.$colors, "white");
    border-radius: settings.$border-radius-lg;
    border: 1px solid map.get(settings.$colors, "gray-l80");
    box-shadow: settings.$box-shadow;
    height: fit-content;
    padding: 1rem 1rem 2rem 1rem;
    width: clamp(1rem, 90vw, 30rem);
  }

  .recipe-create-instructions {
    color: map.get(settings.$colors, "gray");
  }
}
