@use "sass:color";
@use "sass:map";
@use "settings";

a {
  color: map.get(settings.$colors, "blue-d25");
  text-decoration: none;

  &:hover,
  &:hover:visited {
    text-decoration: underline;
  }

  &:visited {
    color: map.get(settings.$colors, "blue-d25");
  }
}

body {
  color: map.get(settings.$colors, "black");
  font-size: 1rem;
  margin: 0;
}

.link-button {
  background-color: map.get(settings.$colors, "blue-bg");
  border-radius: settings.$border-radius;
  border: 1px solid map.get(settings.$colors, "blue-border");
  color: map.get(settings.$colors, "blue-fg");
  display: inline-block;
  font-size: settings.$font-size-base;
  padding: 0.5rem 1rem;
  text-align: center;
  vertical-align: middle;

  &:active,
  &:focus {
    box-shadow: inset 0 2px 8px map.get(settings.$colors, "blue-l80");
    outline: 2px solid map.get(settings.$colors, "blue-border");
  }

  &:hover {
    background-color: map.get(settings.$colors, "blue-bg-hover");
    text-decoration: none;
  }
}

button {
  background-color: map.get(settings.$colors, "gray-bg");
  border-radius: settings.$border-radius;
  border: 1px solid map.get(settings.$colors, "gray-border");
  color: map.get(settings.$colors, "gray-fg");
  display: inline-block;
  font-size: settings.$font-size-base;
  padding: 0.5rem 1rem;
  text-align: center;
  vertical-align: middle;

  &:active,
  &:focus {
    box-shadow: inset 0 2px 8px map.get(settings.$colors, "gray-l75");
    outline: 2px solid map.get(settings.$colors, "gray-border");
  }

  &:disabled {
    background-color: color.scale(
      map.get(settings.$colors, "gray-bg"),
      $saturation: -30%
    );
    border: 1px solid
      color.scale(map.get(settings.$colors, "gray-border"), $saturation: -30%);
    color: color.scale(map.get(settings.$colors, "gray-fg"), $saturation: -30%);
    cursor: not-allowed;
  }

  &:hover {
    background-color: map.get(settings.$colors, "gray-bg-hover");
  }
}

.button-plain {
  background-color: transparent;
  border-radius: unset;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline;
  font-size: inherit;
  padding: 0;
  text-decoration: none;

  &:active,
  &:focus {
    box-shadow: none;
    outline: 1px dotted map.get(settings.$colors, "black");
  }

  &:hover {
    background-color: transparent;
  }
}

.button-link {
  background-color: transparent;
  border-radius: unset;
  border: none;
  color: map.get(settings.$colors, "blue-d25");
  cursor: pointer;
  display: inline;
  font-size: inherit;
  padding: 0;
  text-decoration: none;

  &:active,
  &:focus {
    box-shadow: none;
    outline: 1px dotted map.get(settings.$colors, "black");
  }

  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

.button-danger {
  background-color: map.get(settings.$colors, "red-bg");
  border: 1px solid map.get(settings.$colors, "red-border");
  color: map.get(settings.$colors, "red-fg");

  &:active,
  &:focus {
    box-shadow: inset 0 2px 8px map.get(settings.$colors, "red-l80");
    outline: 2px solid map.get(settings.$colors, "red-border");
  }

  &:disabled {
    background-color: color.scale(
      map.get(settings.$colors, "red-bg"),
      $saturation: -30%
    );
    border: 1px solid
      color.scale(map.get(settings.$colors, "red-border"), $saturation: -30%);
    color: color.scale(map.get(settings.$colors, "red-fg"), $saturation: -30%);
  }

  &:hover {
    background-color: map.get(settings.$colors, "red-bg-hover");
  }
}

.button-primary {
  background-color: map.get(settings.$colors, "blue-bg");
  border: 1px solid map.get(settings.$colors, "blue-border");
  color: map.get(settings.$colors, "blue-fg");

  &:active,
  &:focus {
    box-shadow: inset 0 2px 8px map.get(settings.$colors, "blue-l80");
    outline: 2px solid map.get(settings.$colors, "blue-border");
  }

  &:disabled {
    background-color: color.scale(
      map.get(settings.$colors, "blue-bg"),
      $saturation: -30%
    );
    border: 1px solid
      color.scale(map.get(settings.$colors, "blue-border"), $saturation: -30%);
    color: color.scale(map.get(settings.$colors, "blue-fg"), $saturation: -30%);
  }

  &:hover {
    background-color: map.get(settings.$colors, "blue-bg-hover");
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: map.get(settings.$colors, "blue-d65");
  line-height: 1.2;
  margin: 0;
}

html {
  font-family: settings.$font-family-sans-serif;
  font-size: settings.$font-size-base;
  line-height: 1.5;
}

input {
  background: map.get(settings.$colors, "white");
  border-radius: settings.$border-radius;
  border: 1px solid map.get(settings.$colors, "gray-border");
  box-shadow: settings.$box-shadow-inset;
  color: map.get(settings.$colors, "black");
  font-size: settings.$font-size-base;
  padding: 0.5rem;

  &:focus {
    box-shadow: settings.$box-shadow-inset-light, settings.$box-shadow;
    outline: 2px solid map.get(settings.$colors, "gray-border");
  }

  &.error {
    border: 1px solid map.get(settings.$colors, "red-border");
    box-shadow: settings.$box-shadow-inset-error;
    color: map.get(settings.$colors, "red-d25");

    &:focus {
      box-shadow: settings.$box-shadow-inset-error-light,
        settings.$box-shadow-error;
      outline: 2px solid map.get(settings.$colors, "red-border");
    }
  }
}

label {
  display: inline-block;
  font-weight: 600;
}

select {
  background: map.get(settings.$colors, "white");
  border-radius: settings.$border-radius;
  border: 1px solid map.get(settings.$colors, "gray-border");
  box-shadow: settings.$box-shadow-inset;
  color: map.get(settings.$colors, "black");
  font-family: inherit;
  font-size: settings.$font-size-base;
  padding: 0.452rem;

  &:focus {
    outline: 2px solid map.get(settings.$colors, "gray-border");
    box-shadow: settings.$box-shadow-inset-light, settings.$box-shadow;
  }

  &.error {
    border: 1px solid map.get(settings.$colors, "red-border");
    box-shadow: settings.$box-shadow-inset-error;
    color: map.get(settings.$colors, "red-d25");

    &:focus {
      box-shadow: settings.$box-shadow-inset-error-light,
        settings.$box-shadow-error;
      outline: 2px solid map.get(settings.$colors, "red-border");
    }
  }
}
