@use "colors";
@use "decorations";
@use "sass:map";

a {
  color: map.get(colors.$colors, "blue-d25");
  text-decoration: none;

  &:hover,
  &:hover:visited {
    text-decoration: underline;
  }

  &:visited {
    color: map.get(colors.$colors, "blue-d25");
  }
}

button {
  background-color: map.get(colors.$colors, "gray-bg");
  border-radius: decorations.$border-radius;
  border: 1px solid map.get(colors.$colors, "gray-border");
  color: map.get(colors.$colors, "gray-fg");
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  vertical-align: middle;

  &:hover {
    background-color: map.get(colors.$colors, "gray-bg-hover");
  }

  &:active {
    box-shadow: inset 0 2px 8px map.get(colors.$colors, "gray-l75");
  }
}

button.button-primary {
  background-color: map.get(colors.$colors, "blue-bg");
  border: 1px solid map.get(colors.$colors, "blue-border");
  color: map.get(colors.$colors, "blue-fg");

  &:hover {
    background-color: map.get(colors.$colors, "blue-bg-hover");
  }

  &:active {
    box-shadow: inset 0 2px 8px map.get(colors.$colors, "blue-l80");
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: map.get(colors.$colors, "blue-d65");
}

input {
  background: map.get(colors.$colors, "white");
  border-radius: decorations.$border-radius;
  border: 1px solid map.get(colors.$colors, "gray-border");
  box-shadow: decorations.$box-shadow-inset;
  color: map.get(colors.$colors, "black");
  font-size: 1rem;
  padding: 0.5rem;

  &:focus {
    border: 2px solid map.get(colors.$colors, "gray-border");
    box-shadow: decorations.$box-shadow-inset-light, decorations.$box-shadow;
    outline: none;
  }

  &.error {
    border: 1px solid map.get(colors.$colors, "red-border");
    box-shadow: decorations.$box-shadow-inset-error;
    color: map.get(colors.$colors, "red-d25");

    &:focus {
      border: 2px solid map.get(colors.$colors, "red-border");
      box-shadow: decorations.$box-shadow-inset-error-light,
        decorations.$box-shadow-error;
    }
  }
}

label {
  display: inline-block;
  font-weight: 600;
}
