@use "colors";
@use "decorations";
@use "sass:map";
@use "typography";

a {
  color: map.get(colors.$colors, "blue-d25");
  text-decoration: none;

  &:hover,
  &:hover:visited {
    text-decoration: underline;
  }

  &:visited {
    color: map.get(colors.$colors, "blue-d25");
  }
}

button {
  background-color: map.get(colors.$colors, "gray-bg");
  border-radius: decorations.$border-radius;
  border: 1px solid map.get(colors.$colors, "gray-border");
  color: map.get(colors.$colors, "gray-fg");
  display: inline-block;
  font-size: typography.$font-size-base;
  padding: 0.5rem 1rem;
  text-align: center;
  vertical-align: middle;

  &:active {
    box-shadow: inset 0 2px 8px map.get(colors.$colors, "gray-l75");
  }

  &:hover {
    background-color: map.get(colors.$colors, "gray-bg-hover");
  }
}

button.button-plain {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline;
  padding: 0;
  text-decoration: none;

  &:active {
    box-shadow: none;
  }

  &:hover {
    background-color: transparent;
  }
}

button.button-link {
  background: transparent;
  border: none;
  color: map.get(colors.$colors, "blue-d25");
  cursor: pointer;
  display: inline;
  padding: 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button.button-danger {
  background-color: map.get(colors.$colors, "red-bg");
  border: 1px solid map.get(colors.$colors, "red-border");
  color: map.get(colors.$colors, "red-fg");

  &:active {
    box-shadow: inset 0 2px 8px map.get(colors.$colors, "red-l80");
  }

  &:hover {
    background-color: map.get(colors.$colors, "red-bg-hover");
  }
}

button.button-primary {
  background-color: map.get(colors.$colors, "blue-bg");
  border: 1px solid map.get(colors.$colors, "blue-border");
  color: map.get(colors.$colors, "blue-fg");

  &:active {
    box-shadow: inset 0 2px 8px map.get(colors.$colors, "blue-l80");
  }

  &:hover {
    background-color: map.get(colors.$colors, "blue-bg-hover");
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: map.get(colors.$colors, "blue-d65");
  margin: 0;
}

input {
  background: map.get(colors.$colors, "white");
  border-radius: decorations.$border-radius;
  border: 1px solid map.get(colors.$colors, "gray-border");
  box-shadow: decorations.$box-shadow-inset;
  color: map.get(colors.$colors, "black");
  font-size: typography.$font-size-base;
  padding: 0.5rem;

  &:focus {
    border: 2px solid map.get(colors.$colors, "gray-border");
    box-shadow: decorations.$box-shadow-inset-light, decorations.$box-shadow;
    outline: none;
  }

  &.error {
    border: 1px solid map.get(colors.$colors, "red-border");
    box-shadow: decorations.$box-shadow-inset-error;
    color: map.get(colors.$colors, "red-d25");

    &:focus {
      border: 2px solid map.get(colors.$colors, "red-border");
      box-shadow: decorations.$box-shadow-inset-error-light,
        decorations.$box-shadow-error;
    }
  }
}

label {
  display: inline-block;
  font-weight: 600;
}

select {
  background: map.get(colors.$colors, "white");
  border-radius: decorations.$border-radius;
  border: 1px solid map.get(colors.$colors, "gray-border");
  box-shadow: decorations.$box-shadow-inset;
  color: map.get(colors.$colors, "black");
  font-family: inherit;
  font-size: typography.$font-size-base;
  padding: 0.452rem;

  &:focus {
    border: 2px solid map.get(colors.$colors, "gray-border");
    box-shadow: decorations.$box-shadow-inset-light, decorations.$box-shadow;
    outline: none;
  }
}
