@use "colors";
@use "decorations";
@use "sass:map";

a {
  color: map.get(colors.$colors, "blue-d25");
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: map.get(colors.$colors, "blue-d25");
  }
}

button {
  background-color: map.get(colors.$colors, "gray-l85");
  border-radius: decorations.$border-radius;
  border: 1px solid map.get(colors.$colors, "gray-l75");
  color: map.get(colors.$colors, "gray-d20");
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  vertical-align: middle;

  &:hover {
    background-color: map.get(colors.$colors, "gray-l90");
  }

  &:active {
    box-shadow: inset 0 2px 8px map.get(colors.$colors, "gray-l75");
  }
}

button.button-primary {
  background-color: map.get(colors.$colors, "blue-l90");
  border: 1px solid map.get(colors.$colors, "blue-l80");
  color: map.get(colors.$colors, "blue-d25");

  &:hover {
    background-color: map.get(colors.$colors, "blue-l95");
  }

  &:active {
    box-shadow: inset 0 2px 8px map.get(colors.$colors, "blue-l80");
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: map.get(colors.$colors, "blue-d65");
}

input {
  background: map.get(colors.$colors, "white");
  border-radius: decorations.$border-radius;
  border: 1px solid map.get(colors.$colors, "gray-l70");
  box-shadow: decorations.$box-shadow-inset;
  color: map.get(colors.$colors, "black");
  font-size: 1rem;
  padding: 0.5rem;

  &:focus {
    border: 1px solid map.get(colors.$colors, "gray-l60");
    box-shadow: decorations.$box-shadow-inset-light, decorations.$box-shadow;
    outline: none;
  }
}

label {
  display: inline-block;
  font-weight: 600;
}
