@use "sass:color";
@use "sass:map";
@use "sass:math";

///////////////////////////////////////////////////////////////////////////////
//
// Color
//

// Base colors.
$colors: (
  "blue": #0795ed,
  "gray": #71716f,
  "green": #9bc53d,
  "purple": #af2bbf,
  "red": #f93943,
  "white": #ffffff,
  "yellow": #ffa62b,
);

// Generate variations of $colors.
@each $key in map.keys($colors) {
  @for $i from 5 through 95 {
    @if $i % 5 == 0 {
      // Lighter variations: <color>-l<increment>
      $colors: map.set(
        $colors,
        #{$key}-l#{$i},
        color.scale(
          map.get($colors, $key),
          $lightness: math.div(math.percentage($i), 100)
        )
      );

      // Darker variations: <color>-d<increment>
      $colors: map.set(
        $colors,
        #{$key}-d#{$i},
        color.scale(
          map.get($colors, $key),
          $lightness: math.div(math.percentage($i), 100) * -1
        )
      );
    }
  }
}

// Colors by usage.
$colors: map.set($colors, "black", map.get($colors, "gray-d95"));
$colors: map.set($colors, "blue-bg", map.get($colors, "blue-l90"));
$colors: map.set($colors, "blue-bg-hover", map.get($colors, "blue-l95"));
$colors: map.set($colors, "blue-border", map.get($colors, "blue-l70"));
$colors: map.set($colors, "blue-fg", map.get($colors, "blue-d25"));
$colors: map.set($colors, "blue-fg-hover", map.get($colors, "blue-d10"));
$colors: map.set($colors, "gray-bg", map.get($colors, "gray-l90"));
$colors: map.set($colors, "gray-bg-hover", map.get($colors, "gray-l95"));
$colors: map.set($colors, "gray-border", map.get($colors, "gray-l70"));
$colors: map.set($colors, "gray-fg", map.get($colors, "gray-d5"));
$colors: map.set($colors, "gray-fg-hover", map.get($colors, "gray-l20"));
$colors: map.set($colors, "green-bg", map.get($colors, "green-l90"));
$colors: map.set($colors, "green-bg-hover", map.get($colors, "green-l95"));
$colors: map.set($colors, "green-border", map.get($colors, "green-l70"));
$colors: map.set($colors, "green-fg", map.get($colors, "green-d40"));
$colors: map.set($colors, "green-fg-hover", map.get($colors, "green-d20"));
$colors: map.set($colors, "red-bg", map.get($colors, "red-l90"));
$colors: map.set($colors, "red-bg-hover", map.get($colors, "red-l95"));
$colors: map.set($colors, "red-border", map.get($colors, "red-l70"));
$colors: map.set($colors, "red-fg", map.get($colors, "red-d30"));
$colors: map.set($colors, "red-fg-hover", map.get($colors, "red-d15"));

///////////////////////////////////////////////////////////////////////////////
//
// Typography
//

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 1rem;

$font-size-h1: $font-size-base * 2;
$font-size-h2: $font-size-base * 1.5;
$font-size-h3: $font-size-base * 1.25;
$font-size-h4: $font-size-base * 1.125;
$font-size-s1: $font-size-base * 0.875;

///////////////////////////////////////////////////////////////////////////////
//
// Decorations
//

$border-radius-lg: 7px;
$border-radius-sm: 3px;
$border-radius: 5px;

$box-shadow-error: 2px 4px 8px rgba(map.get($colors, "red"), 0.15);
$box-shadow-inset-error-light: inset 0 2px 8px
  rgba(map.get($colors, "red"), 0.025);
$box-shadow-inset-error: inset 0px 2px 8px rgba(map.get($colors, "red"), 0.075);
$box-shadow-inset-light: inset 0 2px 8px rgba(map.get($colors, "black"), 0.025);
$box-shadow-inset: inset 0px 2px 8px rgba(map.get($colors, "black"), 0.075);
$box-shadow-lg: 4px 8px 16px rgba(map.get($colors, "black"), 0.175);
$box-shadow-sm: 1px 2px 4px rgba(map.get($colors, "black"), 0.075);
$box-shadow: 2px 4px 8px rgba(map.get($colors, "black"), 0.15);

$text-shadow-header: 1px 3px 4px rgba(map.get($colors, "black"), 0.3);

///////////////////////////////////////////////////////////////////////////////
//
// Spacing
//

$margin-top-field-error: 0.5rem;
$height-navbar: 4.125rem;
